/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
api/vendor
api/mailtemplates/cache
npm-debug.log
api/config.php
*.swp
/frontend/app/scripts/conf.js
/misc/illuminate_queries.log
.vagrant
/public/404.html
/public/docs
/public/favicon.ico
/public/flags
/public/fonts
/public/images
/public/index.html
/public/robots.txt
/public/scripts
/public/styles
/public/favicon.ico
/public/robots.txt
